<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IBP2018.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <IBP2018.Properties.Settings>
            <setting name="XyMmcPortName" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="ZMmcPortName" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="Ammeter1VisaAddress" serializeAs="String">
                <value>GPIB0::26::INSTR</value>
            </setting>
            <setting name="Ammeter2VisaAddress" serializeAs="String">
                <value>GPIB0::27::INSTR</value>
            </setting>
        </IBP2018.Properties.Settings>
    </userSettings>
</configuration>
